
@{
    ViewBag.Title = "CannotBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your already have an appointment on this day and with this doctor</h2>
@Html.ActionLink("View Doctors","ViewDoc")
